{% load app %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>投稿一覧</title>
</head>
<body>
  <p>こんにちは！</p>
  {% for post in posts %}
    <h2>{{ post }}</h2>
    {{ post.text | markdown_to_html }}
    <ul>
      <!-- 記事本文（Markdown） -->
      <li>{{ post.user }}</li>
{#      <li><img src="{{ post.image.image_path }}"></li>#}
      <li>{{ post.created_at }}</li>
      <li>{{ post.updated_at }}</li>
      <li>{{ post.status }}</li>
      {% if post.thumbnail %}
        <li><img src="{{ post.thumbnail.url }}"></li>
      {% endif %}
      </ul>
  {% endfor %}
</body>
</html>